<div class="head">
  <div class="heading">
    <h1 class="mat-display-4">Mango Education</h1>
    <div class="para">
      <h2>What we believe?</h2>
      <ul>
        <li>
          Kids are self learners. You don’t teach them, just build an ideal
          environment for them to blossom.
        </li>
        <li>
          Building an ideal environment is teamwork. A team comprising of
          parents, educator, mentor and fellow like-minded learners.
        </li>
        <li>
          Kids are smarter than adults. Adults have to work hard to keep up with
          kids.
        </li>
      </ul>
    </div>
  </div>
  <button mat-raised-button class="begin" (click)="ButtonClick()">Begin</button>
</div>
